@page "/"

<TopBanner BannerTxt="Lists, Lambda, Linq, Search and More">
    <h6 class="text-center m-1"> Learning to populate and work on Lists through functional examples </h6>
</TopBanner>

<!-- Greeting Message -->
<div class="container h90 ColVLeftHCenter">
    <div class="row m-0 p-0">
        <div class="col-12 m-5 p-0 ">
            <h2><b><u>Listas (quase) de A a Z</u></b></h2>
            <br /><br />
            <h4><b>Part 1</b> : Concepts of Lists and Usage Examples </h4>
            <br />
            <h4><b>Part 2</b> : Comparing LINQ and LAMBDA Notation</h4>
            <br />
            <h4><b>Part 3</b> : Using TAKE( from..to ) clause and PAGINATION</h4>
            <br />
            <h4><b>Part 4</b> : Searching a Record, Nested Tables</h4>
            <br />
            <h4><b>Part 5</b> : Grouping and Aggregates</h4>
            <br />      <br />
            <br />      <br />
            <br />      <br />
            <br />      <br />
        </div>
    </div>
</div>

<style>
    .h90 {
        height: 90%;
    }
    .ColVLeftHCenter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-family: 'Montserrat';
        font-size: 2.5em;
        font-style: italic;
    }
    h4 {
        font-family: 'Montserrat';
        font-size: 1.5em;
    }
</style>