@page "/IndexP2"
<!--  Browser tab title  -->
<PageTitle>USING LISTS</PageTitle>

<TopBanner BannerTxt="List Concepts">
    <h6 class="text-center m-1">Examples of Aggregate functions Usage</h6>
</TopBanner>

<!-- Greeting Message -->
<div class="container h90 ColVLeftHCenter">
    <div class="row m-0 p-0">
        <div class="col-12 m-5 p-0 ">
            <h2><b><u>Concepts of Lists and Usage Examples</u></b></h2>
            <br /><br />
            <h4><b>Part 1</b> : Comparing LINQ and LAMBDA Notation</h4>
            <br />
            <h4><b>Part 2</b> : Examples of ORDERBY and ORDERBYDESCENDING clauses</h4>
            <br />
            <h4><b>Part 3</b> : Examples of Count, SUM, AVERAGE </h4>
            <br />
            <h4><b>Part 4</b> : Examples of SUM, AVERAGE clauses on calculated values </h4>
            <br />
            <h4><b>Part 5</b> : How to calculate Standard Deviation of list values distributions </h4>
            <br />
            <h4><b>Part 6</b> : How to highlight MIN and MAX values on a list</h4>
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

<style>
    .h90 {
        height: 90%;
    }
    .ColVLeftHCenter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-family: 'Montserrat';
        font-size: 2.5em;
        font-style: italic;
    }
    h4 {
        font-family: 'Montserrat';
        font-size: 1.5em;
    }
</style>

@code {

}